<div class="body">
    <div class="container-1">
        <div class="logo">
            <svg width="50" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                </path>
            </svg>
        </div>
        <div class="title">
            <h1>Happening right now</h1>
        </div>
        <div class="sub-title">
            <p>Join now.</p>
        </div>
        <div class="btns">
            <div class="create-account">
                <button class="create" (click)="openModal('register')">Create
                    Account</button>
                <p>By signing up, you agree to <span>the Terms of Service</span>
                    and <span>Privacy Policy</span>, including <span>Use of Cookies</span>.</p>

            </div>
            <div class="sign-in">
                <p>Already have an account?</p>
                <button class="login" (click)="openModal('login')">Log
                    in</button>
            </div>
            <app-modal (closeRequest)="onCloseRequested()" #myModal></app-modal>
        </div>
    </div>

</div>